body{
    display:block;
    align-items: center;
    justify-content: center;
    max-width: 850px;
    background-color: rgba(241, 255, 255, 0.926);
    padding: 50px;
    padding-top: 10px;
    padding-left: 40px;
  }

.float {
    float: left;
    margin: 0 20px;
}
.segment{
  flex-wrap: wrap;
  text-align: center;
  max-width: 250px;
  min-width: 250px;
  margin: 20px;
  padding: 10px;
  border-radius: 5%;
  background-color: rgba(88, 178, 220, 0.871);
}
.banner{
    background-color: rgba(233, 147, 71, 0.851);
    text-align: center;
    padding: 3px;
    border-radius: 5px;

}